<div class="well well-lg">
    <h2>Collections <span class="text-muted pull-right"><a href="/new_website">Add To The Collection</a></span></h2>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">Collection Name</div>
      <!-- Table -->
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Site Name</th>
            <th>Site Link </th>
            <th>Site Description</th>
            <th>General Category</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @collection.site_name %></td>
              <td><%= @collection.site_url %></td>
              <td><%= @collection.description %></td>
              <td><%= @collection.c_name %></td>
              <td><a href="/collections/<%= @collection.id %>/edit">Edit</a></td>
              <td><a href="/collections/<%= @collection.id %>/destroy">Destroy</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

