<h1>Websites</h1>

<p><a href="/new_website">Add a New Website</a></p>

<table>
  <thead>
    <tr>
      <th>Site url</th>
      <th>Site name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @websites.each do |website| %>
    <tr>
          <td><%= website.site_url %></td>
          <td><%= website.site_name %></td>
          <td><a href="/websites/<%= website.id %>">Show</a>
        </td>
      <td><a href="/websites/<%= website.id %>/edit">Edit</a></td>
      <td><a href="/websites/<%= website.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="well well-lg">
    <h2>Websites <span class="text-muted pull-right"><a href="/new_website">Add A New Website</a></span></h2>
  </div>

<div class="panel panel-default">
      <!-- Default panel contents -->
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Site Name</th>
            <th>Site Link </th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td>1</td>
            <td><a href="#"><% @websites.each do |website| %>
              <%= website.site_name %>
              <a href="/websites %>">Show</a>
              <a href="/websites/<%= website.id %>/edit">Edit</a>
              <a href="/websites/<%= website.id %>/destroy">Destroy</a>
              <% end %></td>
            <td><a href="#"><% @websites.each do |website| %>
              <%= website.site_url %>
              <a href="/websites %>">Show</a>
              <a href="/websites/<%= website.id %>/edit">Edit</a>
              <a href="/websites/<%= website.id %>/destroy">Destroy</a>
              <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>