<div class="well well-lg">
  <h3>User #<span class="text-muted"><%= @user.id %></span></h3>
  </div>

<div class="panel panel-default">
      <!-- Default panel contents -->

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>User Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>

<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
