<!DOCTYPE html>
<html>
<head>
  <title>SiteShareApp</title>
  <script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">SiteToSee</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">HOME</a></li>
        <% if session['user_id'] %>
          <% u = User.find_by(id: session['user_id']) %>
          <li><a href="/new_collection">ADD TO PUBLIC COLLECTION</a></li>
          <li><a href="/collections">VIEW PUBLIC COLLECTION</a></li>
          <li><a href="/users">USERS</a></li>
          <li><a href="/sessions/destroy">LOG OUT</a></li>
          <span class="pull-right"><li>Welcome, <a href="/users"><%= u.name %></a></li></span>
        <% else %>
          <li><a href="/sessions/new">LOG IN</a></li>
          <li><a href="/new_user">SIGN UP</a></li>
        <% end %>
      </ul>
          <form class="navbar-form navbar-left" role="search" action="/collections">
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="Search for a site">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  
</nav>
  
  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>

<%= yield %>

   <div class="footer">
    <hr>
      <p class="pull-left">&copy; 2014 SiteShare</p>
      <p class="pull-left">&middot; This site is monitored for spam and inappropriate content.</p>
      <p class="pull-right"><a href="#">Back to Top</a></p>
 </div>
  
</body>
</html>
